
body {
	font-family: Futura, 'Trebuchet MS', Arial, sans-serif;
}

.article-title {

}

.author {
    overflow: hidden;
    zoom: 1;
    width: 310px;
    margin-bottom: 5px;
    height: 60px;
    display: block;
}

.author-image {
	float: left;
    margin-right: 10px;
    display: block;
    width: 50px;
    height: 50px;
    background:pink;
}

.author-name {
	font-size: 17px;
    font-weight: 600;
}

.buzz-list {
	margin-top: 80px;
	margin-bottom: 20px;
}

.buzz {
    margin-top: 20px;
    margin-bottom: 20px;
}

.buzz-title {
	font-size: 26px;
    line-height: 28px;
    font-weight: 600;
    color: #121212;
    padding: 0 0 8px 0;
    margin: 0;
}

.footer-title {
    font-size: 20px;
    font-style: italic;
    line-height: 28px;
    font-weight: 600;
    color: #9C9999;
    padding: 0 0 8px 0;
    margin: 0;
    margin-top: 40px;
}

.social-media {
    border: none;
    padding: 8px 0px 8px 0px;
    display: block;
}

.social-media-item {
    display: block;
    position: relative;
    width: 80px;
    margin: 0 5px 5px 0;
    height: 24px;
    float: left;
    color: #f8f8f8;
    background: lightgray;
    text-align: center;
    vertical-align: middle;
}

#sm-repo {
    background:#181818;
}
#sm-devpost {
    background:#013E53;
}
#sm-pine {
    background:#9A8181;
}
#sm-tay {
    background:#1CC456;
}
#sm-tim {
    background:#1AA8BE;
}
#sm-vish {
    background:#BE951A;
}
#sm-will {
    background:#B745BF;
}